.remove-file{
    position: relative;
}
.remove-file span{
    cursor: pointer;
    font-size: 18px;
    color: red;
    position: absolute;
    top: 0;
    right: 10px;
}

.remove-file span:hover {
    color: red;
}
.tab-options table.table td{
    vertical-align: middle;
}

.tab-options table.table tr td div.remove-file + div.form-group{
display: none;
}